name: test

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
        env:
          SCHEMATIC_API_KEY: test-key
